<section id='about' class='flex flex-col w-full gap-5 md:-mt-10'>
  <h2 class=''>Sobre mí</h2>
  <p class='md:pl-10 pl-3 text-pretty'>
    Me apasiona dar vida a las ideas, transformándolas en aplicaciones y sitios web escalables de alta calidad. Mi
    enfoque se centra en la funcionalidad, la calidad y la experiencia del usuario, siempre buscando la excelencia en
    cada proyecto que emprendo.
    <br />

    <br />
    Mi objetivo es fomentar el crecimiento de negocios y startups emergentes a través de los beneficios de las tecnologías
    de la información, construyendo soluciones digitales eficientes y escalables que contribuyan a alcanzar sus metas. Además,
    me siento comprometido a utilizar mis habilidades para desarrollar herramientas tecnológicas que beneficien a la sociedad.
  </p>
</section>
