<section id="contact" class="">
  <h2>Contáctame</h2>
  <div class="flex flex-col mt-5 gap-16">
    <article class="w-full grid place-items-center">
      <form action="" class="grid place-items-center w-full max-w-2xl">
        <fieldset
          class="grid shadow-md border-[.5px] border-slate-400 dark:border-slate-800 dark:bg-transparent dark:shadow-slate-600 dark:shadow-sm rounded-2xl p-5 w-full place-items-center">
          <legend
            class="font-semibold text-amber-600 dark:text-amber-500 text-xl p-1 rounded-lg"
            >Envía a quí tu proyecto...</legend
          >
          <label class="flex flex-col w-full p-2 font-semibold -mt-3">
            Correo
            <input
              name="email"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
              type="email"
              placeholder="correo@mail.com"
            />
          </label>
          <label class="flex flex-col w-full p-2 font-semibold">
            Asunto
            <input
              name="asunto"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
              type="tel"
              placeholder="Tu idea de proyecto"
            />
          </label>
          <label class="flex flex-col w-full p-2 font-semibold">
            Mensaje
            <textarea
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Descripción del proyecto y los requerimientos..."
              id="message"
              cols="30"
              rows="10"></textarea>
          </label>
        </fieldset>
      </form>
    </article>
  </div>
</section>
