<section id="experience" class="">
  <h2>Experiencia</h2>
  <article class="flex pl-3 md:pl-10 gap-3 md:gap-7 mt-5">
    <div class="bg-firstLight text-firstLight">.</div>
    <div class="flex flex-col">
      <h3><span class="font-semibold">Desarrollador Full Stack</span> en HotDoggui Food.</h3>
      <i>Septiembre 2023 – Diciembre 2023. [Colombia] [Remoto] [Alimentos]</i>
      <p>
        Diseño y desarrollo un aplicativo web para el restaurante que permita la gestión
        eficiente de sus pedidos de manera automatizada, con una lógica de negocio que
        contribuya con el incremento de las ventas a domicilio en un 20% presupuestado.
      </p>
    </div>
  </article>

  <article class="flex pl-3 md:pl-10 gap-3 md:gap-7 mt-5">
    <div class="bg-firstLight text-firstLight">.</div>
    <div class="flex flex-col">
      <h3>
        <span class="font-semibold">Desarrollador Front-end</span> en Evolutica Tech LLC.
      </h3>
      <i>Abril 2023 – Julio 2023. [Colombia] [Remoto] [Fintech]</i>
      <p>
        Con un equipo desarrollamos el sitio web de una fintech colombiana para el uso de sus
        clientes, creamos tambien un pluguin crediticio incrustable en todo tipo de sitios web.
      </p>
    </div>
  </article>
  <article class="max-w-full grid place-items-center mt-7">
    <div
      class="flex items-center border border-amber-700 gap-4 md:gap-8 justify-center p-3 px-4 max-w-full rounded-md">
      <p class="font-semibold text-md w-fit md:text-xl">Echa un vistázo a mi Hoja de vida 💼</p>
      <img src="/icons/arrow.svg" />
      <a
        href="https://drive.google.com/file/d/1Nt4aOxNP75hkatzZJGMl7KTYK_j3B3az/view?usp=sharing"
        target="_blank">
        <img
          width="127.52"
          height="160"
          class="h-auto object-contain shadow-md dark:shadow-slate-200 dark:shadow-sm transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-150"
          src="/curriculum.png"
          alt="Hoja de vida"
        />
      </a>
    </div>
  </article>
</section>
