---
import JobDescription from './Job-description.astro';
---

<section id='experience'>
  <h2>Experiencia</h2>
  <JobDescription
    country='Colombia'
    title='Desarrollador Full Stack C# .Net'
    type='Presencial'
    place='SISMA CORPORATION'
    industry='Sofware de Salud y Administrativo'
    initialDate='Julio 2024'
    description={`Mantenimiento de los sistemas de la compa帽铆a, desarrollo de nuevas funcionalidades, 
      correcci贸n de errores y mejoras en la interfaz de usuario, soporte a los usuarios finales, 
      adem谩s de la implementaci贸n de nuevas tecnolog铆as para la mejora de los sistemas.`}
    pills={['C#', '.Net', 'SQL Server', 'Docker', 'JavaScript', 'HTML', 'CSS', 'JQuery', 'PHP', 'Git']}
  />
  <JobDescription
    country='Espa帽a'
    title='Desarrollador Front-end'
    type='Remoto'
    place='Gravitad'
    industry='Servicios IT'
    initialDate='Marzo 2024'
    finalDate='Julio 2024'
    description={`Desarrollo de aplicaciones web del lado del frontend para las Start Up a las cuales 
      la compa帽ia busca acelerar mediante la implementaci贸n de sus negocios a sistemas web, 
      en mi cargo soy responsable de pasar a c贸digo el dise帽o proporcionado por el area de UI/UX garantizando 
      que el sitio sea fiel al dise帽o, adem谩s de implementar t贸da la l贸gica para garantizar el mejor rendimiento 
      para la aplicaci贸n y que la l贸gica de negocio del lado del cliente sea la correcta, haciendo el debido 
      empalme con el equipo de backend para la su correcta integraci贸n.`}
    pills={['JavaScript', 'React', 'Zustand', 'TailwindCSS', 'HTML', 'CSS', 'Git']}
  />
  <JobDescription
    country='Colombia'
    title='Desarrollador Full Stack'
    type='Remoto'
    place='HotDoggui Food'
    industry='Alimentos'
    initialDate='Septiembre 2023'
    finalDate='Diciembre 2023'
    description={`Dise帽o y desarrollo un aplicativo web para el restaurante que permita la gesti贸n
        eficiente de sus pedidos de manera automatizada, con una l贸gica de negocio que
        contribuya con el incremento de las ventas a domicilio en un 20% presupuestado.`}
  />

  <JobDescription
    title='Desarrollador Front-end'
    place='Evolutica Tech LLC'
    type='Remoto'
    country='Colombia'
    industry='Fintech'
    initialDate='Abril 2023'
    finalDate='Julio 2023'
    description={`Con un equipo desarrollamos el sitio web de una fintech colombiana para el uso de sus
        clientes, creamos tambien un pluguin crediticio incrustable en todo tipo de sitios web.`}
    pills={['JavaScript', 'React', 'TailwindCSS', 'HTML', 'CSS', 'Git']}
  />

  <article class='max-w-full grid place-items-center mt-12'>
    <div
      class='flex flex-col items-center border border-amber-700 gap-4 md:gap-4 justify-center p-3 px-4 max-w-full rounded-md'
    >
      <p class='font-semibold text-md w-fit md:text-md'>Echa un vist谩zo a mi Hoja de vida </p>
      <img src='/icons/arrow.svg' class='rotate-90' />
      <a href='/CVDavidVergaraNavarro.pdf' target='_blank'>
        <img
          width='127.52'
          height='160'
          class='h-auto object-contain shadow-md dark:shadow-slate-200 dark:shadow-sm transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-150'
          src='/curriculum.webp'
          alt='Hoja de vida'
        />
      </a>
    </div>
  </article>
</section>
