<section id="footer" class="w-full grid place-items-center mb-10 text-[10px] text-center md:text-sm md:m-0">
  <p>"Primero, resuelve el problema. Después, escribe el código." - John Johnson</p>
</section>
