---
import { links } from '../libs/data';
import NavMobile from './NavBar-mobile.astro';
import NavBar from './NavBar.astro';
---

<header class='flex w-full h-fit justify-stretch sticky top-0 py-1 md:py-3 bg-inherit z-10'>
  <a href='/#home' rel='noopener noreferrer'>
    <h1 class='logo font-bold text-xl'>
      David<span class='text-[#ef8203]'>[</span>dev<span class='text-[#ef8203]'>]</span>
    </h1>
  </a>
  <div class='flex w-full justify-end gap-7'>
    <div class='flex items-end'>
      <NavMobile links={links} />
      <NavBar links={links} />
    </div>
    <div class='relative inline-block group'>
      <!-- ?BOTON PARA CAMBIAR A TEMA CLARO -->
      <div id='theme-dark'>
        <img
          class='cursor-pointer transition ease-linear hover:scale-[.9] active:scale-95'
          width={22}
          height={22}
          src='/icons/dark-mode.svg'
          alt='darkMode Button'
        />
      </div>

      <!-- ?BOTON PARA CAMBIAR A TEMA OSCURO -->
      <div id='theme-light' hidden>
        <img
          class='cursor-pointer transition ease-linear hover:scale-[.9] active:scale-95'
          width={22}
          height={22}
          src='/icons/light-mode.svg'
          alt='LightMode Button'
        />
      </div>
    </div>
  </div>
</header>
