---

---

<section id='home' class='w-full flex flex-col justify-between items-center py-9 md:py-7'>
  <article class='min-w-min rounded-full bg-firstLight mb-10'>
    <img class='size-60' width='300' height='312.4' src='/profile.webp' alt='Imágen de perfil' />
  </article>
  <article class='items-center flex flex-col'>
    <!-- <span class="text-3xl">Hola,</span> -->
    <h1 class='text-2xl md:text-3xl'>
      Hola, Soy <span class='font-[1000]'>David Vergara</span>
    </h1>
    <span
      class='text-transparent bg-clip-text bg-gradient-to-tr from-amber-900 to-amber-400 dark:to-amber-300 text-center text-[50px] [line-height:1.3] md:text-6xl font-black'
      >Desarrollador Full Stack</span
    >
    <p class='max-w-xs text-center md:max-w-md w-full mt-3 text-md md:text-lg'>
      Creo soluciones web innovadoras y eficientes que te ayudarán a impulsar tu negocio.
    </p>
    <p class='text-xl font-bold'>¿Qué proyecto tienes en mente?</p>
    <div class='flex gap-5 mt-6'>
      <a href='https://www.linkedin.com/in/david-de-jes%C3%BAs-vergara-navarro-62169225a/' target='_blank' rel='noopener noreferrer'>
        <button
          class='flex items-end px-2 py-1 gap-2 rounded-lg bg-firstLight text-slate-950 hover:bg-opacity-90 font-bold transition-all ease-linear hover:scale-[.97]'
          ><img width='28' height='28' src='/icons/linkedin.svg' alt='' />LinkedIn</button
        >
      </a>
      <a href='http://github.com/Davidvn95' target='_blank' rel='noopener noreferrer'>
        <button
          class='flex items-end px-2 py-1 gap-2 rounded-lg bg-firstLight text-slate-950 hover:bg-opacity-90 font-bold transition-all ease-linear hover:scale-[.97]'
          ><img width='28' height='28' src='/icons/github.svg' alt='Link a GitHub' />GitHub</button
        >
      </a>
      <a href='/CV_DAVID_VERGARA.pdf' target='_blank' rel='noopener noreferrer'>
        <button
          class='flex items-end px-2 py-1 gap-2 rounded-lg bg-firstLight text-slate-950 hover:bg-opacity-90 font-bold transition-all ease-linear hover:scale-[.97]'
          ><img width='28' height='28' src='/icons/curriculum.svg' alt='Link a GitHub' />Mi CV</button
        >
      </a>
    </div>
  </article>
</section>
